<turbo-frame id="profile-section">
  <div class="card m-4 has-background-grey-lighter">
    <div class="card-image is-justify-content-center p-4">
      <figure class="image is-16by9 is-flex is-justify-content-center">
        <%= show_blob(user.profile.avatar, resize_to: "400x400") %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media-content">
        <div class="box has-background-light">
          <div class="box has-background-grey-lighter">
            <div class="column label is-size-4 has-text-black-bis">Name</div>
            <div
              class="
                input has-text-white is-size-5 has-text-weight-semibold has-background-grey
              "
            ><%= user.profile.name %></div>
          </div>
          <div class="box has-background-grey-lighter">
            <div class="column label is-size-4 has-text-black-bis">Username</div>
            <div
              class="
                input has-text-white is-size-5 has-text-weight-semibold has-background-grey
              "
            ><%= user.profile.username %></div>
          </div>
          <div class="box has-background-grey-lighter">
            <div class="column label is-size-4 has-text-black-bis">Email</div>
            <div
              class="
                input has-text-white is-size-5 has-text-weight-semibold has-background-grey
              "
            ><%= user.email %></div>
          </div>
          <div class="box has-background-grey-lighter">
            <div class="column label is-size-4 has-text-black-bis">Bio</div>
            <div
              class="
                box has-text-white is-size-5 has-text-weight-semibold has-background-grey
              "
            >
              <% if user.profile.bio.blank? %>
                <p>Tell about yourself....</p>
              <% else %>
                <%= user.profile.bio %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <%= link_to "Edit Profile",
      edit_user_profile_path(user),
      class: "card-footer-item",
      data: {
        turbo_frame: "profile-section",
      } %>
    </footer>
  </div>
</turbo-frame>
