<turbo-frame id="profile-section">
  <div class="card m-4 has-background-grey-lighter">
    <div class="card-image is-flex is-justify-content-center p-4">
      <figure class="image is-3by1">
        <%= show_blob(current_user.profile.avatar, resize_to: "400x400") %>
      </figure>
    </div>
    <%= form_with model: @user.profile, url: user_profile_path(@user), method: :patch do |form| %>
      <div class="file is-dark is-normal has-name is-flex is-justify-content-center p-4" data-controller="file-upload">
        <label class="file-label">
          <%= form.file_field :avatar, accept: "image/png, image/jpeg, image/svg+xml", data: { action: "change->file-upload#updateFileName" }, class: "file-input" %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">Profile picture</span>
          </span>
          <span class="file-name has-text-black-bis" data-file-upload-target="fileName"> Upload your picture </span>
        </label>
      </div>
      <div class="card-content">
        <div class="media-content">
          <div class="box has-background-light">
            <div class="box has-background-grey-lighter">
              <%= form.label :name, class: "column label is-size-4 has-text-black-bis" %>
              <%= form.text_field :name, class: "input is-focused is-size-5 has-text-weight-semibold has-background-light has-text-black-bis" %>
            </div>
            <div class="box has-background-grey-lighter">
              <%= form.label :username, class: "column label is-size-4 has-text-black-bis" %>
              <%= form.text_field :username, class: "input is-focused is-size-5 has-text-weight-semibold has-background-light has-text-black-bis" %>
            </div>
            <div class="box has-background-grey-lighter">
              <%= form.label :bio, class: "column label is-size-4 has-text-black-bis" %>
              <%= form.text_area :bio, rows: 10, cols: 10, class: "input is-focused is-size-5 has-text-weight-semibold has-background-light has-text-black-bis", style: "min-height: 20vh" %>
            </div>
            <%= form.submit "Save Profile", class: "button is-success is-size-5 has-text-weight-semibold has-text-black-bis is-fullwidth mt-5" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</turbo-frame>
