<div class="container fullheight has-background-white">
  <%= render partial: "profile", locals: { user: current_user } %>
  <div class="tabs is-centered is-boxed" data-controller="toggler">
    <ul>
      <li class="is-active menu-tabs">
        <%= link_to "Posts",
        posts_user_path(@user),
        method: :get,
        remote: true,
        data: {
          turbo_stream: true,
          action: "click->toggler#changeClass",
        } %>
      </li>
      <li class="menu-tabs">
        <%= link_to "Following",
        following_user_path(@user),
        method: :get,
        remote: true,
        data: {
          turbo_stream: true,
          action: "click->toggler#changeClass",
        } %>
      </li>
      <li class="menu-tabs">
        <%= link_to "Followers",
        followers_user_path(@user),
        method: :get,
        remote: true,
        data: {
          turbo_stream: true,
          action: "click->toggler#changeClass",
        } %>
      </li>
    </ul>
  </div>
  <%= turbo_frame_tag("user_posts") do %>
    <div class="cotainer">
      <div class="box m-2 has-background-white">
        <% if @posts.present? %>
          <%= render partial: "shared/post", collection: @posts, as: :post %>
        <% else %>
          <h2 class="title is-4 has-text-weight-bold has-text-link has-text-centered">No posts yet!</h2>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= turbo_frame_tag("user_following") %>
  <%= turbo_frame_tag("user_followers") %>
</div>
