<div class="hero is-fullheight is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
        <h1 class="title has-text-white is-1">OdinBook</h1>
        <div class="box has-background-light">
          <div class="box has-background-white">
            <h3 class="title has-text-grey-darker">Sign up</h3>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field has-text-left">
              <%= f.label :email, class: "subtitle is-4" %><br/>
              <div class="control">
                <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              class: "input mt-3 has-background-grey-lighter has-text-black" %>
              </div>
            </div>
            <div class="field has-text-left">
              <%= f.label :password, class: "subtitle is-4" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %>
                  characters minimum)</em>
              <% end %><br/>
              <div class="control">
                <%= f.password_field :password,
                                 autocomplete: "new-password",
                                 class: "input mt-3 has-background-grey-lighter has-text-black" %>
              </div>
            </div>
            <div class="field has-text-left">
              <%= f.label :password_confirmation, class: "subtitle is-4" %><br/>
              <div class="control">
                <%= f.password_field :password_confirmation,
                                 autocomplete: "new-password",
                                 class: "input mt-3 has-background-grey-lighter has-text-black" %>
              </div>
            </div>
            <div class="actions control mt-5">
              <%= f.submit "Sign up", class: "button is-black is-large is-fullwidth" %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
