<div class="card has-background-grey-lighter has-text-black">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image">
          <%= show_blob(user&.profile&.avatar, resize_to: "82x82") %>
        </figure>
      </div>
      <div class="media-content">
        <%= link_to user_path(user) do %>
          <p class="title is-4 has-text-link"><%= user.profile.name %></p>
          <p class="subtitle is-6 has-text-link mt-2"><%= user.profile.username %></p>
        <% end %>
      </div>
    </div>
    <div class="content">
      <%= render partial: "relations", locals: { user: user } %>
    </div>
  </div>
</div>
