<%= turbo_stream.update "user_followers", "" %>
<%= turbo_stream.update "user_following", "" %>
<%= turbo_stream.update "user_posts", "" %>
<%= turbo_stream.append "user_posts" do %>
  <div class="cotainer">
    <div class="box m-2 has-background-white">
      <%= render partial: "shared/post", collection: @posts, as: :post %>
    </div>
  </div>
<% end %>
