<div class="container has-background-white is-fullheight">
  <div class="section">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box has-background-light has-text-centered">
          <figure class="image is-128x128 m-auto">
            <%= show_blob(@user.profile.avatar, resize_to: "128x128") %>
          </figure>
          <h1 class="title is-4 has-text-link my-4"><strong><%= @user.profile.name %></strong></h1>
          <p class="subtitle is-6 has-text-link">@<%= @user.profile.username %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="tabs is-centered is-boxed">
    <ul>
      <li class="is-active">
        <%= link_to "Posts",
        posts_user_path(@user),
        method: :get,
        remote: true,
        data: {
          turbo_stream: true,
        } %>
      </li>
      <li>
        <%= link_to "Following",
        following_user_path(@user),
        method: :get,
        remote: true,
        data: {
          turbo_stream: true,
        } %>
      </li>
      <li class=:>
        <%= link_to "Followers",
        followers_user_path(@user),
        method: :get,
        remote: true,
        data: {
          turbo_stream: true,
        } %>
      </li>
    </ul>
  </div>
  <%= turbo_frame_tag("user_posts") do %>
    <div class="cotainer">
      <div class="box m-2 has-background-white">
        <%= render partial: "shared/post", collection: @posts, as: :post %>
      </div>
    </div>
  <% end %>
  <%= turbo_frame_tag("user_following") %>
  <%= turbo_frame_tag("user_followers") %>
</div>
