<div class="hero is-fullheight is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
        <h1 class="title has-text-white is-1">OdinBook</h1>
        <div class="box has-background-light">
          <div class="box has-background-white">
            <h3 class="title has-text-grey-darker">Forgot your password?</h3>
          </div>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field has-text-left">
              <%= f.label :email, class: "subtitle is-4" %><br/>
              <%= f.email_field :email,
                            autofocus: true,
                            autocomplete: "email",
                            class: "input mt-3 has-background-grey-lighter has-text-black" %>
            </div>
            <div class="actions controls mt-5">
              <%= f.submit "Send me reset password instructions",
                       class: "button is-black is-large is-fullwidth" %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
