<div class="container" id="<%= dom_id(post) %>">
  <div class="card has-background-light my-3">
    <div class="media pt-3">
      <div class="media-left p-2">
        <figure class="image is-64x64">
          <%= show_blob(post.user.profile.avatar, resize_to: "64x64") %>
        </figure>
      </div>
      <div class="media-content">
        <p>
          <strong class="title has-text-link is-4 is-size-6-mobile"><%= post.user.profile.name %></strong>
        </p>
        <p>
          <small>Posted
            <%= "#{time_ago_in_words(post.created_at)} ago" %></small>
        </p>
      </div>
      <div>
        <% if current_user == post.user %>
          <%= link_to "Delete Post",
          post_path(post),
          data: {
            turbo_method: :delete,
          },
          class: "button is-danger mt-3 mr-3" %>
        <% end %>
      </div>
    </div>
    <div>
      <%= render partial: "posts/post_content", locals: { post: post } %>
    </div>
    <div class="buttons is-flex" data-controller="like">
      <%= render partial: "posts/likes_comments_links", locals: { post: post } %>
    </div>
    <div class="container">
      <%= turbo_frame_tag("#{dom_id(Comment.new)}_for_#{post.id}") %>
    </div>
    <div class="container">
      <%= turbo_frame_tag("comments_feed_#{post.id}") do %>
        <%= render partial: "comments/comment_content", locals: { post: post } %>
      <% end %>
    </div>
  </div>
</div>
