<div class="hero is-fullheight is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
        <h1 class="title has-text-white is-1">OdinBook</h1>
        <div class="box has-background-light">
          <div class="box has-background-white">
            <h3 class="title has-text-grey-darker">Login</h3>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field has-text-left">
              <%= f.label :email, class: "subtitle is-4" %><br/>
              <div class="control">
                <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              class: "input mt-3 has-background-grey-lighter has-text-black" %>
              </div>
            </div>
            <div class="field has-text-left">
              <%= f.label :password, class: "subtitle is-4" %><br/>
              <div class="control">
                <%= f.password_field :password,
                                 autocomplete: "current-password",
                                 class: "input mt-3 has-background-grey-lighter has-text-black" %>
              </div>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="field has-text-left has-text-grey-darker mt-5">
                <div class="control">
                  <%= f.check_box :remember_me, class: "checkbox" %>
                  <%= f.label :remember_me, class: "checkbox is-size-5" %>
                </div>
              </div>
            <% end %>
            <div class="actions control mt-5">
              <%= f.submit "Log in", class: "button is-black is-large is-fullwidth" %>
            </div>
          <% end %>
        </div>
      </div>
      <div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
